[submodule "projects/project2/stylegan2-ada-pytorch"]
	path = projects/project2/stylegan2-ada-pytorch
	url = https://github.com/NVlabs/stylegan2-ada-pytorch
[submodule "projects/project2/StyleCLIP"]
	path = projects/project2/StyleCLIP
	url = https://github.com/vipermu/StyleCLIP.git
[submodule "projects/project2/FFHQ-Alignment"]
	path = projects/project2/FFHQ-Alignment
	url = https://github.com/happy-jihye/FFHQ-Alignment
